<footer>
 List assembled and managed by the <a href="https://frontend.horse/chat">Frontend Horse Discord Community</a>.</footer>
<style>
  footer {
    padding: 2em 1em 4em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

</style>
